.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock-display {
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
